<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/reg}" method="post">
    <fieldset>
        <div>
            <label for="">Ваш логин</label>
            <input type="text" name="username" placeholder="Введите логин"/>
        </div>
        <div class="password-field">
            <label for="">Ваш пароль</label>
            <input type="password" name="password" placeholder="Введите пароль"/>
        </div>
    </fieldset>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>